
<div class="fixed right-5 top-[70vh] z-50 flex flex-col justify-center items-center">

  <div class="absolute w-64 h-64 bg-[var(--main-color)]/20 blur-[100px] rounded-full"></div>


  <img
    src="assets/repot.png"
    alt="Robot AI"
    class="w-40 md:w-48 h-auto z-10  cursor-pointer drop-shadow-[0_20px_30px_rgba(255,69,0,0.3)]"
  />

  <button
    class="bg-[var(--main-color)] ms-6 hover:bg-[#e63e00] text-white font-bold py-2 px-8 rounded-full text-lg shadow-lg transition-transform transform hover:scale-105 active:scale-95 z-10"
  >
    Hey Ask Me
  </button>

</div>