<!-- Dialog -->

<p-dialog
  [(visible)]="visible"
  [modal]="false"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [style]="{
    width: '350px',
    height: '590px',
  }"
  styleClass="smart-coach-dialog"
>
  <app-smart-coach></app-smart-coach>
</p-dialog>

<!-- Floating Robot -->

<div
  class="fixed z-[9999] flex flex-col items-center transition-all duration-500"
  [class.right-5]="!visible"
  [class.right-32]="visible"
  [class.bottom-5]="!visible"
  [class.top-1]="visible"
>
  <img
    src="assets/repot.png"
    class="w-32 cursor-pointer"
    (click)="toggleChat()"
  />

 <button
  (click)="toggleChat()"
  class="bg-[var(--main-color)] text-white px-6 py-3 rounded-full"
>
  {{ visible ? 'Tap to Close' : 'Hey Ask Me' }}
</button>
</div>
