<div class="min-h-screen bg-[url('/assets/image2.jpg')] bg-cover bg-center bg-fixed bg-no-repeat">
  <div class="min-h-screen bg-[#FFFFFF99] dark:bg-[#242424]/60 backdrop-blur-[46px] p-4 md:p-8">
  
<div class="text-center mb-6 md:mb-8 px-2 flex flex-col items-center">
  <app-secrion-title
    [title]="'healthy'"
    [bgTitle]="'Healthy Naritions'"
  ></app-secrion-title>
  
  <h2 class="text-2xl dark:text-[#F3F3F4] md:text-3xl lg:text-4xl font-black uppercase tracking-wide max-w-2xl mx-auto">
    Fuel Your Fitness Journey With <br>
    Customized <span class="text-[#f15a24]">Meal Plans</span> For You
  </h2>
</div>



  

  @if (chunkedTabs().length > 0) {
    <div class="w-full max-w-4xl mx-auto mb-8 md:mb-10 px-1 md:px-8 custom-tabs-carousel">
      
      <p-carousel 
        [value]="chunkedTabs()" 
        [numVisible]="1" 
        [numScroll]="1" 
        [circular]="false" 
        [showIndicators]="false"
        [showNavigators]="true">
        
        <ng-template pTemplate="item" let-pageTabs>
          <div class="w-full flex justify-center py-2 z-10">
            
            <app-custom-tabs 
              [tabsData]="pageTabs" 
              (tabChanged)="onTabChange($event)">
            </app-custom-tabs>

          </div>
        </ng-template>

      </p-carousel>

    </div>
@if (mealsList().length > 0) {
<app-custom-carusel 
  [carouselItems]="mealsList()" 
  [rowsCount]="2"
  (itemActionClicked)="onMealSelected($event)"> </app-custom-carusel>}
  }

  @if (isLoadingMeals()) {
    <div class="text-center py-12">
      <!-- اعملي اللودنج هنا esraa -->
    </div>
  } 

</div>