<div
  class="w-full max-w-[486px] mx-auto border mb-8 bg-[#242424]/60  border-white/20 rounded-[50px] lg:p-[40px] p-[20px] shadow-2xl backdrop-blur-md flex flex-col gap-4"
  [formGroup]="chanageForm"
>

  <!-- CURRENT PASSWORD -->
  <div class="relative">
    <app-custom-input
      formControlName="password"
      [icon]="'pi pi-lock'"
      placeholder="Current Password"
      type="password"
    ></app-custom-input>
  </div>

  <app-error
    [control]="chanageForm.get('password')"
    label="Current Password"
  ></app-error>

  <!-- NEW PASSWORD -->
  <div class="relative">
    <app-custom-input
      formControlName="newPassword"
      [icon]="'pi pi-lock'"
      placeholder="New Password"
      type="password"
    ></app-custom-input>
  </div>

  <app-error
    [control]="chanageForm.get('newPassword')"
    label="New Password"
  ></app-error>

  <!-- CONFIRM PASSWORD -->
  <div class="relative">
    <app-custom-input
      formControlName="rePassword"
      [icon]="'pi pi-lock'"
      placeholder="Confirm New Password"
      type="password"
    ></app-custom-input>
  </div>

  <app-error
    [control]="chanageForm.get('rePassword')"
    label="Confirm Password"
  ></app-error>

  <!-- SUBMIT BUTTON -->
  <app-butonnns
    [label]="'Change Password'"
    [disabled]="chanageForm.invalid"
    (btnClick)="submit()"
  >
  </app-butonnns>

</div>