/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
 .container{
    margin-inline: auto;
    width: 95%;

}

:root{
    --main-color:#FF4100;
}
.main-color{
    color: var(--main-color);
}

