@import "primeicons/primeicons.css";
@import 'fitness-app/src/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));
 .container{
    margin-inline: auto;
    width: 95%;
}
 

:root{
    --main-color:#FF4100;
}
.main-color{
    color: var(--main-color);
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.p-toggleswitch .p-toggleswitch-slider {
  background: #374151 !important;
    border-color: #374151 !important;
}

.dark .p-toggleswitch .p-toggleswitch-slider {
       background: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

