<section class="bg-[#F3F3F4] dark:bg-[#232424] py-16 overflow-hidden">
  <div
    class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12 items-center"
  >
    <div class="space-y-8">
      <div class="space-y-4">
        <app-secrion-title
          [title]="'Why Us'"
          [bgTitle]="'Why Us'"
        ></app-secrion-title>
        <h2
          class="text-4xl md:text-5xl font-black text-slate-900 dark:text-white leading-tight"
        >
          ELEVATE FITNESS WITH THE <br />
          <span class="text-[#FF4100]">BEST WAY</span> POSSIBLE
        </h2>

        <p class="text-gray-600 dark:text-[#F3F3F4] py-6 leading-relaxed max-w-xl">
          We offer a fitness journey that's tailored to your goals, supported by
          professional trainers and a welcoming community. Whether it's weight
          loss, strength building, or overall wellness, our proven methods.
        </p>
      </div>

      <div class="space-y-12">
        <!-- Item 01 -->
        <div class="relative group flex gap-6 items-start">
          <!-- الشرط اللي تحت الدائرة الأولى (بين 01 و 02) -->
          <div
            class="absolute left-[24px] top-[56px] flex flex-col gap-2 opacity-20"
          >
            <div class="w-[2px] h-4 bg-[#242424] dark:bg-[#F3F3F424]"></div>
            <div class="w-[2px] h-4 bg-[#242424] dark:bg-[#F3F3F424]"></div>
            <div class="w-[2px] h-4 bg-[#242424] dark:bg-[#F3F3F424]"></div>
          </div>

          <div
            class="flex-none w-12 h-12 bg-[#FF4100] text-white rounded-full flex items-center justify-center font-black shadow-lg shadow-orange-100 z-10"
          >
            01
          </div>
          <div class="pt-1">
            <h3 class="font-black text-xl dark:text-white pb-1 text-slate-900">
              Personalized Fitness Plans
            </h3>
            <p class="text-gray-500 dark:text-[#F3F3F4] text-sm mt-1">
             We tailor every workout to fit your unique goals and fitness level ensuring
            </p>
            <p class="text-gray-500 dark:text-[#F3F3F4] text-sm mt-1">
that you make the most progress.            </p>
          </div>
        </div>

        <!-- Item 02 -->
        <div class="relative group flex gap-6 items-start">
          <div
            class="absolute left-[24px] top-[56px] flex flex-col gap-2 opacity-20"
          >
            <div class="w-[2px] h-4 bg-[#242424] dark:bg-[#F3F3F424]"></div>
            <div class="w-[2px] h-4 bg-[#242424] dark:bg-[#F3F3F424]"></div>
            <div class="w-[2px] h-4 bg-[#242424] dark:bg-[#F3F3F424]"></div>
          </div>

          <div
            class="flex-none w-12 h-12 bg-[#FF4100] text-white rounded-full flex items-center justify-center font-black  z-10"
          >
            02
          </div>
          <div class="pt-1">
            <h3 class="font-black text-xl dark:text-white pb-1 text-slate-900">
              Results-Driven Focus
            </h3>
            <p class="text-gray-500 dark:text-[#F3F3F4] text-sm mt-1">
Everything we do is designed to help you achieve measurable results,            </p>
            <p class="text-gray-500 dark:text-[#F3F3F4] text-sm mt-1">
whether you're aiming for weight loss.            </p>
          </div>
        </div>

        <!-- Item 03 -->
        <div class="relative group flex gap-6 items-start">
          <div
            class="flex-none w-12 h-12 bg-[#FF4100] text-white rounded-full flex items-center justify-center font-black shadow-lg shadow-orange-100 z-10"
          >
            03
          </div>
          <div class="pt-1">
            <h3 class="font-black text-xl dark:text-white pb-1 text-slate-900">
              State-Of-The-Art Equipment
            </h3>
            <p class="text-gray-500 dark:text-[#F3F3F4] text-sm mt-1">
We provide the latest in gym equipment, from cardio machines to free            </p>
            <p class="text-gray-500 dark:text-[#F3F3F4] text-sm mt-1">
weights, designed to support every type.            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="space-y-4">
        <div class="relative w-full h-80">
          <img
            ngSrc="assets/Image.png"
            alt="Training"
            fill
            class="rounded-3xl object-cover"
          />
        </div>

        <div class="relative w-full h-64">
          <img
            ngSrc="assets/Image (2).png"
            alt="Gym"
            fill
            class="rounded-3xl object-cover"
          />
        </div>
      </div>

      <div class="space-y-4 pt-8">
        <div class="relative w-full h-64">
          <img
            ngSrc="assets/Image (1).png"
            alt="Bodybuilder"
            fill
            class="rounded-3xl object-cover"
          />
        </div>

        <div class="relative w-full h-80">
          <img
            ngSrc="assets/Figure [image-anime].png"
            alt="Stretching"
            fill
            class="rounded-3xl object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
