<div class="w-full flex items-center justify-center overflow-x-auto no-scrollbar py-2 md:py-3 px-2">
  <div class="flex items-center gap-1 md:gap-3 lg:gap-4 px-2 md:px-4 py-1.5 md:py-2 rounded-full   tabs-wrapper">
    
    @for (tab of tabsData(); track tab.id || $index) {
      <button 
        (click)="selectTab(tab)"
        [class.active]="activeTabInternal() === tab.id"
        class="tab-button px-3 md:px-5 py-1.5 md:py-2 text-xs md:text-sm lg:text-base font-sans tracking-wide uppercase rounded-full transition-all duration-300 ease-in-out cursor-pointer whitespace-nowrap border-0 outline-none">
        {{ getTabLabel(tab) }}
      </button>
    }

  </div>
</div>