:host {
  --tab-color-active: #f15a24;     
  --text-color-light: #000000;     
  --text-color-dark: #d1d5db;     
}

.tab-button {
  font-weight: 500;
  color: var(--text-color-light); 
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 9999px;          
  transition: all 0.3s ease;     
}


:host-context(.dark) .tab-button {
  color: var(--text-color-dark);  
}


.tab-button.active {
  background-color: var(--tab-color-active) !important;
  color: #ffffff !important;     
  font-weight: 700;
}


.tab-button:hover {
  background-color: rgba(241, 90, 36, 0.1); 
}


.tabs-wrapper {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.tab-button::after {
  display: none !important;
}