<div class="relative min-h-screen overflow-hidden bg-[#24242499] dark:bg-[#242424] flex  items-stretch ">
  <div
    class="absolute left-[300px] top-0 h-full w-36 bg-gradient-to-b from-[#ffa166] via-[#ffb07f] to-[#ffac79] -skew-x-6 opacity-80 blur-[2px]"
  ></div>
 <div
    class="absolute left-[700px] top-[100px] w-64 h-20 
    bg-white -skew-x-6  rounded-xl  rotate-12"
  ></div>
 <div
    class="absolute right-[50px] top-[200px] w-96 h-20 
    bg-white -skew-x-6  rounded-xl  rotate-12"
  ></div>
 <div
    class="absolute right-[50px] top-[400px] w-96 h-64
    bg-white/60  skew-x-6  rounded-xl  -rotate-12"
  ></div>
 <div
    class="absolute left-[500px] top-[300px] w-64 h-64 
    bg-white/60 -skew-x-6  rounded-xl  rotate-12"
  ></div>
  <!-- Glass Overlay -->
  <div class="absolute inset-0 bg-white/60 dark:bg-[#242424]/60 backdrop-blur-[60px]"></div>

  <div
    class="relative container mx-auto flex justify-between flex-col lg:flex-row "
  >
    <div class="max-w-xl mt-20">
      <h1 class="  text-2xl  md:text-5xl font-bold text-[#242424] dark:text-white leading-tight">
        YOUR BODY CAN <span class="text-[var(--main-color)]">STAND</span><br class="hidden md:inline"  />
        <span class="text-[var(--main-color)]">ALMOST</span><br class="inline md:hidden"  /> ANYTHING
      </h1>

      <div class="mt-6 flex">
        <div class=" h-[210px] md:h-[96.37px] w-[4px] me-5 bg-[var(--main-color)]"></div>
        <div class="text-[#242424] dark:text-[#F3F3F4] mt-2 leading-loose md:leading-relaxed ">
          <p>
            It's your mind that needs convincing. Push past your limits, stay
          </p>
          <p>committed, and watch as your body transform into powerhouse of</p>
          <p>
            strength and resilience. Start your journey today & truly capable
            of!
          </p>
        </div>
      </div>
      <div class=" flex flex-col md:flex-row gap-y-6 gap-x-16 my-12 text-[#242424]">
       <div >
         <h2 class="font-bold mb-3 text-lg dark:text-white">1200+</h2>
        <p class="dark:text-[#F3F3F4] font-semibold">Active Members</p>
       </div>
       <div >
         <h2 class="font-bold mb-3 text-lg dark:text-white">12+</h2>
        <p class="dark:text-[#F3F3F4] font-semibold">Certified Trainers</p>
       </div>
       <div >
         <h2 class="font-bold mb-3 text-lg dark:text-white">20+</h2>
        <p class="dark:text-[#F3F3F4] font-semibold">Year Of Experience</p>
       </div>
      </div>
      <div class="flex justify-between md:justify-start  md:gap-x-20   my-16">
        <app-button-ui
          text="Get Started"
          textcolor="white"
          backgroundcolor="var(--main-color)"
        ></app-button-ui>
        <app-button-ui
          text="Explore More"
          textcolor="var(--main-color)"
          backgroundcolor="transparent"
        ></app-button-ui>

      </div>
  
  </div>
   
    <div class="max-w-xl h-full flex items-end pb-0">
  <img src="/assets/hero.png" class="w-full object-contain">
</div>
</div>
