<section class="relative min-h-screen w-full overflow-hidden">
  <!-- Background -->
  <img
    ngSrc="assets/workout.jpg"
    fill
    alt="Workout Background"
    class="absolute inset-0 object-cover"
    priority
  />

  <div
    class="absolute inset-0 bg-[#FFFFFF99] dark:bg-[#242424]/60 backdrop-blur-[46px]"
  ></div>

  <!-- Content -->
  <div class="relative z-10 container mx-auto px-4 py-16">
    <div class="flex items-center flex-col z-20">
      <app-secrion-title [title]="'WORKOUTS'" [icon]="false">
      </app-secrion-title>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
      <!-- Left Side -->
      <div class="lg:col-span-3">
        <div
          class="bg-[#FFFFFF99] dark:bg-[#242424]/60 rounded-3xl p-4 border-black/30 shadow-lg border dark:border-white/10 backdrop-blur-md"
        >
          <!-- Levels -->
          <div class="flex flex-wrap gap-2 mb-4">
            @if (tabs().length > 0) {
              <app-custom-tabs
                [tabsData]="tabs()"
                [initialTab]="activeTabId()"
                (tabChanged)="onTabChanged($event)"
              >
              </app-custom-tabs>
            }
          </div>

          <!-- Exercise List -->

<app-custom-list
  [items]="filteredClassItems()"
  (videoSelected)="onVideoSelected($event)">
</app-custom-list>

        </div>
      </div>
      <!-- Main Section -->
      <div class="lg:col-span-9">
        <!-- Hero -->
     
        <div class="relative overflow-hidden rounded-[30px] h-[450px]">
        @if (isPlaying() && getYoutubeEmbedUrl()) {

<iframe
  class="absolute inset-0 w-full h-full"
  [src]="getYoutubeEmbedUrl()"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen>
</iframe>

} @else {

<img
  src="assets/workout.jpg"
  class="absolute inset-0 w-full h-full object-cover"
/>

}

          <div
            class="absolute inset-0 bg-gradient-to-t from-white via-white/50 to-transparent dark:from-black dark:via-black/40 dark:to-transparent"
          ></div>

          <div class="absolute inset-0 flex flex-col justify-end p-8">
            <div class="flex justify-center">
              <div class="flex items-center justify-center">
                <!-- الحلقة الخارجية الكبرى الشفافة الداكنة -->
                <button
                 (click)="playSelectedVideo()"
                  class="relative flex items-center text-black dark:text-white justify-center w-20 h-20 transition-transform duration-300 rounded-full bg-[#FF410066] backdrop-blur-sm group hover:scale-105 active:scale-95"
                >
                  <!-- الحلقة الوسطى الشفافة الفاتحة -->
                  <div
                    class="absolute inset-0 flex items-center justify-center m-3 rounded-full bg-[#FF410099] border border-orange-500/10"
                  >
                    <!-- الزر المركزي البرتقالي -->
                    <div
                      class="flex items-center justify-center w-10 h-10 bg-[#FF4100] rounded-full transition-colors group-hover:bg-[#FF410066]"
                    >
                      <!-- مثلث التشغيل (Play Icon) -->
                      <i class="pi pi-play text-4xl"></i>
                    </div>
                  </div>
                </button>
              </div>
            </div>

            <div class="flex items-center flex-col">
              <h2 class="text-3xl font-bold dark:text-[#F3F3F4] text-[#242424]">
               {{ selectedExercise()?.exercise }}
              </h2>

              <p class="max-w-2xl dark:text-[#F3F3F4] text-gray-700 mt-3">
{{ selectedExercise()?.target_muscle_group }}
•
{{ selectedExercise()?.primary_equipment }}
              </p>
            </div>

            <div class="flex flex-wrap justify-between gap-4 mt-5">
              <span
                class="bg-white/10 px-4 py-2 dark:text-[#F3F3F4] border border-[#242424]/50 dark:border-white rounded-full text-sm"
              >
                30 MIN
              </span>

              <span
                class="text-[#ff5a1f] px-4 py-2 font-bold border border-[#242424]/50 dark:border-white rounded-full text-sm"
              >
                130 Cal
              </span>
            </div>
          </div>
        </div>
        <div class="grid md:grid-cols-3 gap-4 mt-6">
          @for (item of workus(); track $index) {
            <div class="flex items-center gap-3">
              <div
                class="w-10 h-10 rounded-full text-[#242424] border border-[#242424]/50 dark:border-white/50 dark:text-[#F3F3F4] bg-[#ff5a1f] flex items-center justify-center"
              >
                <fa-icon [icon]="sagittarius" />
              </div>

              <span
                class="dark:text-[#F3F3F4] font-semibold text-lg text-[#242424]"
                >{{ item.message }}
              </span>
            </div>
          }
        </div>
        <!-- Recommendations -->
  
        <div class="mt-10">
          <h3 class=" text-2xl md:text-3xl font-bold  text-[#242424] dark:text-white  mb-6">Recommendation For You</h3>

       @if (mealtab().length > 0) {
   <app-custom-carusel [carouselItems]="mealtab()" [rowsCount]="1"></app-custom-carusel>
 
    } 
        </div>
      </div>

    </div>
  </div>
</section>
